TimeElite.MeowTpu/.vs
*.pdb
*.cache
*.dtbcache
*.dll
*.testlog
*.exe
TimeElite.MeowTpu/BusinessLogic/bin
TimeElite.MeowTpu/BusinessLogic/obj
TimeElite.MeowTpu/Core/bin
TimeElite.MeowTpu/Core/obj
TimeElite.MeowTpu/WebUi/bin
TimeElite.MeowTpu/WebUi/obj
*.user
*.pubxml
