
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/config/applicationhost.config
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/v16/.suo
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/v16/Server/sqlite3/db.lock
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/v16/Server/sqlite3/storage.ide
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/v16/Server/sqlite3/storage.ide-shm
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/v16/Server/sqlite3/storage.ide-wal
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/v16/TestStore/0/000-0000.testlog
TimeElite.MeowTpu/.vs/TimeElite.MeowTpu/v16/TestStore/0/testlog.manifest
